.import {
  display: flex;
  justify-content: center;
  margin-top: 10vh;
}

.button {
  border: none;
  background-color: #36454F;
  min-width: 220px;
  min-height: 90px;
 margin: 20px auto; 
 
  border-radius: 20px;
  display: grid;
  place-items: center;
  color: #D3D3D3;
  font-size: 1.6rem;
}
.button:hover {
  background-color: #52626F; /* Change background color on hover */
  cursor: pointer; /* Change cursor to a pointer on hover */
  /* Add any other styles you want for the hover effect */
}

.container {
  text-align: center;
}

.title {
  padding: 20px;
  color: #D3D3D3;
  font-size: 1.6rem;
}

.wordList {
  width: 280px;
  height: 380px;
  background-color: #36454F;
  display: grid;
  place-items: center;
  border-radius: 20px;
  grid-template-columns: auto auto;
  margin: auto;
  color: #D3D3D3;
}

/* Media Queries for responsiveness */
@media (max-width: 768px) {
  /* Adjust .wordList and .button styles for smaller screens */
  .wordList {
    width: 220px;
    height: 300px;
    
  }
  
  .button {
    min-width: 160px;
    min-height: 70px;
    font-size: 1.3rem;
  }
}
