.container {
    
    padding: 20px;
    margin: 20px;
    width: 100%;
    
    border-radius: 4px;
  }
  
  .field {
    margin-bottom: 10px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .conversion {
    margin-top: 5px;
    color: #888;
  }

  .buttons {
    display: flex;
    justify-content:space-between;
    margin-top: 20px;
    margin: auto;
  }
  
  .sendButton {
    border: none;
    background-color: #D3D3D3;
    width: 100px;
    height: 35px;
    border-radius: 5px;
    
    place-items: center;
    color: #36454F;
    font-size: 1.3rem;
  }
  .sendButton:hover {
    background-color: #acb9c4; /* Change background color on hover */
    cursor: pointer; /* Change cursor to a pointer on hover */
    /* Add any other styles you want for the hover effect */
  }

  
  .cancelButton {
    border: none;
    background-color: #ff8484;
    width: 100px;
    height: 35px;
    border-radius: 5px;
    
    place-items: center;
    color: #36454F;
    font-size: 1.3rem;
  }
  
  .sendButton:hover, .cancelButton:hover {
    opacity: 0.8;
  }

  .advanced{
    text-decoration: underline;
    cursor: pointer;
    width: 150px;
  }
  h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .transactionDetails {
    display: flex;
    justify-content: space-between;
   
  }
  
  .transactionSection {
    flex: 1;
    color:#36454F;
    background-color: #D3D3D3;
    font-size: 0.8rem;
    padding: 10px;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  .amountAndFee {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .amountSection,
  .feeSection {
    flex: 1;
  }
  
  .confirmButton {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .confirmedMessage {
    margin-top: 20px;
    color: green;
    font-weight: bold;
  }
